header {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #444242;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

@media (max-width: 320px) {
  header {
    background-color: #FFB64E;
  }
}