.menu-icon-container {
  width: 1.5rem;
  height: 1.25rem;
  position: relative;
  margin-right: 1rem;
  cursor: pointer;
}

.menu-icon-container .menu-icon-piece1 {
  display: block;
  height: 0.25rem;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 10px;
  transition: 0.8s ease-in-out;
  position: absolute;
}

.menu-icon-piece2 {
  content: '';
  display: block;
  height: 0.25rem;
  width: 100%;
  background-color: #FFFFFF;
  position: absolute;
  top: 40%;
  border-radius: 10px;
  transition: 0.4s ease-in-out;
}

.menu-icon-piece3 {
  content: '';
  display: block;
  height: 0.25rem;
  width: 100%;
  background-color: #FFFFFF;
  position: absolute;
  top: 80%;
  border-radius: 10px;
  transition: 0.8s ease-in-out;
}

.menu-icon-container.active-menu .menu-icon-piece1 {
  transform: translateY(0.5rem) rotate(-45deg)
}

.menu-icon-container.active-menu .menu-icon-piece2{
  transform: scaleX(0);
}

.menu-icon-container.active-menu .menu-icon-piece3 {
  top: 0.5rem;
  transform: rotate(45deg);
}
