.select-language-container {
  background-color: #FFFFFF;
  width: 8rem;
  height: 2.5rem;
  border-radius: 50px;
  margin-left: 1rem;
}

.select-language {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.select-language .arrow {
  background-color: #444242;
  display: inline-block;
  height: 0.6rem;
  transform: rotate(-45deg);
  width: 0.120rem;
  margin-right: 0.5rem;
}

.select-language .arrow:before {
  content: "";
  display: inline-block;
  background-color: #444242;
  height: 0.6rem;
  width: 0.120rem;
  transform: rotate(-95deg);
  margin-top: 0.3rem;
  margin-left: 0.3rem;
}

.select-language span:nth-child(1) {
  font-size: 1rem;
  font-weight: 500;
}

.options-container {
  width: 8rem;
  background-color: #FFFFFF;
  margin-top: 0.4rem;
  border-radius: 2px;
  display: none;
}

.options-container.active {
  display: block;
}

.options-container .option {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid rgb(189, 189, 189);
}

.usa-icon {
  width: 24px;
}